body{
    max-width: 90%;
    margin: auto;
    background-image: linear-gradient(to right, #99BBDB , #3A13AA);
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
header>h1{
    background-color: yellow;
}

p {
    font-family: sans-serif;
    color: dimgrey;
    letter-spacing: 1px;
}


p.first{
    text-transform: uppercase;
}
blockquote{
    max-width: 50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
}
q{
    display: inline-block;
    background: lightgrey;
    border-left-style: solid;
    border-width: 3px;
    padding: 30px;
    font-size: 160%;
    font-style: italic;
}
.qvil{
    border-left-color: red;
}
.qfar{
    border-left-color: #4CAF50;
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
q.koppig{
    text-transform: capitalize;
    color: #4CAF50;
}
q.koppig2{
    text-transform: capitalize;
    color: red;
}
.good{
    color: #4CAF50;
}
.bad{
    color: red;
}
table tr:nth-child(even){
background-color: lightgrey;
}

.pop{
    position: fixed;
    bottom: 5px;
    right: 5px;
    margin:10px;
}
.pop img{
    width: 150px;
}
ul, li{
    list-style-type: none
}